*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: "#c0d2d4";
font-family: cursive;
}



/* @media(max-width:998px){
    .container{
        height: 300vh;
    }
} */

/* @media(max-width:786px){
    .parent{
        
    }
    .container{
margin-bottom: 110rem;
    }
} */
@media(max-width:440px){
    .container{
        height: 100vh;
    }
}